<nb-layout>

  <nb-layout-header fixed>
  <!-- Insert header here -->
  </nb-layout-header>

  <nb-layout-column>

    <ng-container *ngIf="authLayout; else defaultLayout">
      <router-outlet></router-outlet>
    </ng-container>
    
    <ng-template #defaultLayout>
      <nb-layout>
    
        <nb-layout-header fixed>
          <!-- Insert header here -->
          <app-header></app-header>
        </nb-layout-header>
    
        <nb-sidebar [left]="true" tag="left">
          <app-sidebar></app-sidebar>
        </nb-sidebar>
    
        <nb-layout-column>
          <router-outlet></router-outlet>
        </nb-layout-column>
    
        <nb-layout-footer>
          <!-- Insert footer here -->
          <app-footer></app-footer>
        </nb-layout-footer>
    
      </nb-layout>
    </ng-template>
    
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
